
#a {
    font-size: 65px;
    font-family: monospace
}

#b {
    position: fixed;
    left: -6%;
    font-family: monospace
}

#c { font-family: monospace}

#d {
    font-size: 40px;
    font-family: monospace;
    margin-left: 0px
}

 #e {
    font-size: 40px;
     font-family: monospace;
     margin-left: 60px;}       
    

 #g {
    font-size: 40px;
     font-family: monospace;
     margin-left: 90px;}   

 #h {
    font-size: 40px;
     font-family: monospace;
     margin-left: 120px;}   

 #i {
    font-size: 40px;
     font-family: monospace;
     margin-left: 150px;}   

 #j {
    font-size: 40px;
     font-family: monospace;
     margin-left: 180px;}   

 #k {
    font-size: 40px;
     font-family: monospace;
     margin-left: 210px;}   

 #l {
    font-size: 40px;
     font-family: monospace;
     margin-left: 230px;}   

 #m {
    font-size: 40px;
     font-family: monospace;
     margin-left: 260px;} 

 #n {
    font-size: 40px;
     font-family: monospace;
     margin-left: 290px;} 

 #o {
    font-size: 40px;
     font-family: monospace;
     margin-left: 320px;} 

 #p {
    font-size: 40px;
     font-family: monospace;
     margin-left: 350px;} 

 #q {
    font-size: 40px;
     font-family: monospace;
     margin-left: 380px;} 

 #r {
    font-size: 40px;
     font-family: monospace;
     margin-left: 410px;} 

 #s {
    font-size: 40px;
     font-family: monospace;
     margin-left: 440px;} 

 #t {
    font-size: 40px;
     font-family: monospace;
     margin-left: 470px;} 

 #u {
    font-size: 40px;
     font-family: monospace;
     margin-left: 500px;} 

 #v {
    font-size: 40px;
     font-family: monospace;
     margin-left: 530px;} 

 #w {
    font-size: 40px;
     font-family: monospace;
     margin-left: 560px;} 

 #x {
    font-size: 40px;
     font-family: monospace;
     margin-left: 590px;} 

 #y {
    font-size: 40px;
     font-family: monospace;
     margin-left: 620px;} 

 #z {
    font-size: 40px;
     font-family: monospace;
     margin-left: 650px;} 


#dd {
    font-size: 40px;
    font-family: monospace;
    margin-left: 680px
}

 #ee {
    font-size: 40px;
     font-family: monospace;
     margin-left: 710px;}       
        

 #gg {
    font-size: 40px;
     font-family: monospace;
     margin-left: 740px;}   

 #hh {
    font-size: 40px;
     font-family: monospace;
     margin-left: 770px;}   

 #ii {
    font-size: 40px;
     font-family: monospace;
     margin-left: 800px;}   

 #jj {
    font-size: 40px;
     font-family: monospace;
     margin-left: 830px;}   

 #kk {
    font-size: 40px;
     font-family: monospace;
     margin-left: 860px;}   

 #ll {
    font-size: 40px;
     font-family: monospace;
     margin-left: 890px;}   

 #mm {
    font-size: 40px;
     font-family: monospace;
     margin-left: 920px;} 

 #nn {
    font-size: 40px;
     font-family: monospace;
     margin-left: 950px;} 

 #oo {
    font-size: 40px;
     font-family: monospace;
     margin-left: 980px;} 

#pp {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1010px;} 

 #qq {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1040px;} 

 #rr {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1070px;} 

 #ss {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1100px;} 

 #tt {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1130px;} 

 #uu {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1160px;} 

 #vv {
    font-size: 40px;
     font-family: monospace;
     margin-left: 1190px;} 

#dot1 {
    
font-size: 700px;
    margin-left: -5%;}















