


#a {
   
    font-family: helvetica;
    font-size: 20px;
    letter-spacing: 20px;}

#b {
    font-size: 100px;
}

#c {font-size: 10px;
    margin-left: 180%;
}

#d {
    font-size: 180px;
    letter-spacing: -25px;
}

