


#lim1 {
    width: 310px;
    height: 300px;
}


#lim3 {
    width: 310px;
    height: 300px;
    margin-top: 200px;
}


#lim4 {
    width: 310px;
    height: 300px;
}




#lim5 {
    width: 310px;
    height: 300px;
}



#lim6 {
    width: 620px;
    height: 600px;
}

#lim7 {
    width: 620px;
    height: 600px;
}




#lim16 {
    width: 310px;
    height: 300px;
}


#lim15 {
    width: 310px;
    height: 300px;
}


#lim12 {
    width: 310px;
    height: 300px;
}

#lim8 {
    width: 310px;
    height: 300px;
}


#lim10 {
    width: 1240px;
    height: 1200px;
}


#lim9 {
    width: 1240px;
    height: 1200px;
}

#lim17{ 
    
width: 1240px;
    height: 1200px;}


#a {font-size: 250px;
text-align: center;
    font-family: helvetica;
    padding-top: 50px;
}

#b {
    font-size: 70px;
    text-align: right;
    font-family: monospace;
    padding-top: 300px;
    padding-bottom: 300px;
}

#c {
    font-size: 200px;
    font-family: fantasy;
}


#d {
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 400px;
    padding-top: 400px;
}

#e {
    font-size: 50px;
    font-family: cursive;
    text-align-last: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

#f {
    
    font-size: 200px;
    font-family: helvetica;
    
}




