
#one {
    position: fixed;
    top: 0px;
    left: 1%;}



#two {
    position: fixed;
    top: 0px;
    left: 6%;}

#three {
    position: fixed;
    top: 0px;
    left: 11%;}

#four {
    position: fixed;
    top: 0px;
    left: 16%;
}

#five {
    position: fixed;
    top: 0px;
    left: 21%;}

#six {
    position: fixed;
    top: 0px;
    left: 26%;}



#seven {
    position: fixed;
    top: 0px;
    left: 31%;
}

#eight {
    position: fixed;
    top: 0px;
    left: 36%;}

#nine {
    position: fixed;
    top: 0px;
    left: 41%;}

#ten {
    position: fixed;
    top: 0px;
    left: 46%;
}

#onee {
    position: fixed;
    top: 0px;
    left: 51%;}

#twoo {
    position: fixed;
    top: 0px;
    left: 56%;}




#fourr {
    position: fixed;
    top: 0px;
    left: 66%;
}

#fivee {
    position: fixed;
    top: 0px;
    left: 71%;}

#sixx {
    position: fixed;
    top: 0px;
    left: 76%;}



#sevenn {
    position: fixed;
    top: 0px;
    left: 81%;
}

#eightt {
    position: fixed;
    top: 0px;
    left: 86%;}

#ninee {
    position: fixed;
    top: 0px;
    left: 91%;}

#tenn {
    position: fixed;
    top: 0px;
    left: 96%;
}


#oneee {
    position: fixed;
    top: 0px;
    left: 101%;}

#twooo {
    position: fixed;
    top: 0px;
    left: 106%;}

#threee {
    position: fixed;
    top: 0px;
    left: 116%;}

#fourrr {
    position: fixed;
    top: 0px;
    left: 121%;
}

#fiveee {
    position: fixed;
    top: 0px;
    left: 126%;}

#sixxx {
    position: fixed;
    top: 0px;
    left: 131%;}



#sevennn {
    position: fixed;
    top: 0px;
    left: 136%;
}

#eighttt {
    position: fixed;
    top: 0px;
    left: 141%;}

#nineee {
    position: fixed;
    top: 0px;
    left: 146%;}

#tennn {
    position: fixed;
    top: 0px;
    left: 151%;
}


#mid {
    position: fixed;
    top:0px;
    left: 61%
}

#a {
    margin-top: 1.3%;
    margin-left: 2.5%;
}





















